/node_modules/
/dist/
/web-ext-artifacts/
*.zip
*.xpi
/coverage/
.build_settings.json*
/test/dependencies/
/src/.web-extension-id
/.web-extension-id
.vscode/
.DS_Store
**/.pytest_cache
**/__pycache__
/test/functional/.python-version
/test/functional/regions/screenshots/
